.main-logo {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-100%, 50%);
    z-index: 1;
}

.main-logo img {
    width: 100%;
    max-width: 400px;
}


@media screen and (min-width:1600px) {
    .main-logo img {
        max-width: 500px;
    }
}

@media screen and (min-width:1800px) {
    .main-logo img {
        max-width: 600px;
    }
}

@media screen and (max-width:1400px) {
    .main-logo {
        top: 15%;
    }
}

@media screen and (max-width:1250px) {
    .main-logo {
        top: 10%;
    }
}

@media screen and (max-width:1050px) {
    .main-logo {
        top: 8%;
    }

    .main-logo img {
        max-width: 350px;
    }
}

@media screen and (max-width:950px) {
    .main-logo img {
        max-width: 300px;
    }
}

@media screen and (max-width:800px) {
    .main-logo img {
        display: none;
    }
}