#Contact {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(26,31,22,1) 100%);
}

.phone-link {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}
  
.phone-link:visited,
.phone-link:focus,
.phone-link:hover,
.phone-link:active {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.contact-title {
    margin-top: 5rem;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabine {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.contact-description {
    padding: 1rem;
    font-size: large;
    text-align: center;
}

.contact-map-wrapper {
    display: flex;
    align-items: center;
}

.contact-map {
  width: 40px;
  height: 40px;    
}

.contact-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 60rem;
}

.form-label {
    display: none;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.4rem;
    background: rgb(40, 40, 40);
}

.submit-btn {
    background: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

.horaires {
    text-align: center;
}

.completed-puzzle-image {
    width: 308px;
    height: 308px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.completed-puzzle {
    position: relative;
    width: 308px;
    height: 308px;
}

.puzzle-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    background-size: 300px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.empty-piece {
    background-color: #ffffff;
}

.captcha-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.disabled {
    opacity: 0.5;
}

/* Texte du CAPTCHA */
.captcha-description {
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

.captcha-completed {
    color: green;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .contact-map-wrapper {
        flex-direction: column;
    }

    .contact-map {
        width: 55px;
        height: 55px;
    }

    .cabine {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid white;
    }

    .contact-form {
        width: 90%;
    }
}
