#Gallery {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: calc(1000px + 10px);
    min-height: calc(200vh - 4rem);
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
    text-align: center;
}
  
.filter-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 1rem;
}
  
.filter-button.active {
    background-color: #d4bf79;
    color: black;
    font-weight: bold;
}

.category-description-container, .gallery-container {
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.category-description {
    margin: 50px auto;
    font-family: "Courier Prime", monospace;
    text-align: center;
    font-size: x-large;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.category-description.show {
    opacity: 1;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    opacity: 1;
}

.photo-thumbnail {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.show-more {
    display: flex;
    justify-content: center;
}

.show-more-button {
    background: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    .photo-thumbnail {
        width: calc(100vw - 30px);
        height: 100vw;
    }

    .category-description {
        font-size: large;
        margin: 0 2rem 1rem 2rem;
    }

    .filters {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 2rem;
    }

    .filter-button {
        margin: 0 5px;
        padding: 5px 10px;
        font-size: medium;
        border-radius: 0.5rem;
    }
}